<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/520d9bea-fef0-442f-889f-678e26715294/resourceGroups/Dev-Krooshi-MVP-1.0/providers/Microsoft.Web/sites/patreswaraweb</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://patreswaraweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>04346ac0-ff60-4f92-9c48-a91ea88eae14</ProjectGuid>
    <PublishUrl>https://patreswaraweb.scm.azurewebsites.net/</PublishUrl>
    <UserName>$patreswaraweb</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>